In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data.xlsx')
df.head()

,user_id,basket_id,banner_name,retailer_name,channel_name,parent_channel_name,user_geo_postal_code,user_geo_city,user_geo_rural_code,user_geo_state,...,user_demo_household_size,user_demo_income,user_demo_marital_status,trip_rating,kids_present_on_trip,adult_genders_on_trip,other_banners_in_shopping_trip,other_retailers_in_shopping_trip,were_there_other_stores_on_this_shopping_trip,location_during_the_shopping_trip
0,125436,22858233,Walmart,Walmart,Mass,FMCG,94305,Stanford,Urban,CA,...,2,$100k-125k,Married,,,,Walmart ...,Walmart ...,Single-stop,Only Stop
1,24401,22883015,Vons,Safeway,Food,FMCG,92883,Corona,Suburban,CA,...,4,$60k-80k,Married,,,,"Target, Vons ...","Target, Safeway ...",Multi-stop,Last Stop
2,612414,22911866,Safeway,Safeway,Food,FMCG,98368,Port Townsend,Rural,WA,...,3,unknown,Divorced,,,,"Costco, Safeway ...","Costco, Safeway ...",Multi-stop,Last Stop
3,623415,22912171,RiteAid,RiteAid,Drug,FMCG,93270,Terra Bella,Rural,CA,...,3,- $20k,Divorced,,,,RiteAid ...,RiteAid ...,Single-stop,Only Stop
4,319170,22912271,Vons,Safeway,Food,FMCG,93021,Moorpark,Suburban,CA,...,4,$125k +,Married,100,No Kids,Male Adult Only,Vons ...,Safeway ...,Single-stop,Only Stop

In [3]:
# Check for duplicates
df.shape, df.drop_duplicates().shape

((194142, 43), (194089, 43))

In [4]:
# Drop duplicates
df = df.drop_duplicates()

In [5]:
dates = pd.read_csv('basket_txn_dates.csv')
dates.head()
# dates.shape, df_dates.drop_duplicates().shape

   basket_id transaction_dt transaction_dt_local
0   22905646     2014-08-31  2014-08-31 11:10:00
1   22927041     2014-08-31  2014-08-31 14:39:00
2   22930964     2014-08-31  2014-08-31 14:59:00
3   22935152     2014-08-31  2014-08-31 12:37:00
4   22942098     2014-08-31  2014-08-31 15:29:00

In [7]:
dates = dates.drop_duplicates()
df = pd.merge(df,dates,how='left',on='basket_id')

In [8]:
# Check for missing values
df.isna().sum()

user_id                                              0
basket_id                                            0
banner_name                                          0
retailer_name                                        0
channel_name                                         0
parent_channel_name                                  0
user_geo_postal_code                                 0
user_geo_city                                        0
user_geo_rural_code                                  0
user_geo_state                                       0
user_geo_census_region                               0
user_geo_census_division                             0
store_geo_store_id                                   0
store_geo_store_name                                 0
store_geo_latitude                                   0
store_geo_longitude                                  0
store_geo_state                                      0
store_geo_city                                       0
payment_method                                       0
trip_type                                            0
basket_total_dollars                                 0
basket_total_units                                   0
salestax                                             0
transcribed                                          0
transcription_level                                  0
payment_id                                           0
last_update                                          0
user_demo_ethnicity                                  0
user_demo_age                                        0
user_demo_education                                  0
user_demo_employment                                 0
user_demo_gender                                     0
user_demo_has_children_under17                       0
user_demo_household_size                             0
user_demo_income                                     0
user_demo_marital_status                             0
trip_rating                                          0
kids_present_on_trip                                 0
adult_genders_on_trip                                0
other_banners_in_shopping_trip                       0
other_retailers_in_shopping_trip                     0
were_there_other_stores_on_this_shopping_trip        0
location_during_the_shopping_trip                    0
transaction_dt                                     647
transaction_dt_local                             12476
dtype: int64

In [9]:
df[df['banner_name'].isna() != df['retailer_name'].isna()][['banner_name','retailer_name']]

Empty DataFrame
Columns: [banner_name, retailer_name]
Index: []

In [10]:
df = df[~df['retailer_name'].isna()]

In [11]:
pd.pivot_table(df, columns=['user_demo_household_size'],index=['user_demo_has_children_under17'], aggfunc='count')

                                 adult_genders_on_trip                    \
user_demo_household_size                             1        2        3
user_demo_has_children_under17
 No                                             7465.0  29713.0  11947.0
 Yes                                             211.0   4196.0  24126.0
 unknown                                           NaN      NaN      NaN

                                                             \
user_demo_household_size                4        5        6
user_demo_has_children_under17
 No                                6157.0   2701.0    374.0
 Yes                              50392.0  29369.0  13156.0
 unknown                              NaN      NaN      NaN

                                                             \
user_demo_household_size          7+
user_demo_has_children_under17
 No                                                   571.0
 Yes                                                 6287.0
 unknown                                                NaN

                                                            banner_name  \
user_demo_household_size          unknown                             1
user_demo_has_children_under17
 No                                                     NaN      7465.0
 Yes                                                    NaN       211.0
 unknown                                             7424.0         NaN

                                           ...                    user_id  \
user_demo_household_size                2  ...  7+
user_demo_has_children_under17             ...
 No                               29713.0  ...                      571.0
 Yes                               4196.0  ...                     6287.0
 unknown                              NaN  ...                        NaN

                                                             \
user_demo_household_size          unknown
user_demo_has_children_under17
 No                                                     NaN
 Yes                                                    NaN
 unknown                                             7424.0

                                 were_there_other_stores_on_this_shopping_trip  \
user_demo_household_size                                                     1
user_demo_has_children_under17
 No                                                                     7465.0
 Yes                                                                     211.0
 unknown                                                                   NaN

                                                                               \
user_demo_household_size                2        3        4        5        6
user_demo_has_children_under17
 No                               29713.0  11947.0   6157.0   2701.0    374.0
 Yes                               4196.0  24126.0  50392.0  29369.0  13156.0
 unknown                              NaN      NaN      NaN      NaN      NaN

                                                             \
user_demo_household_size          7+
user_demo_has_children_under17
 No                                                   571.0
 Yes                                                 6287.0
 unknown                                                NaN


user_demo_household_size          unknown
user_demo_has_children_under17
 No                                                     NaN
 Yes                                                    NaN
 unknown                                             7424.0

[3 rows x 344 columns]

In [12]:
# df[['banner_name','retailer_name','channel_name','parent_channel_name']].value_counts()
for v in ['banner_name','retailer_name','channel_name','parent_channel_name']:
    print(v)
    print(df[v].value_counts())

banner_name
 Walmart                         22786
 Target                          22381
 Costco                          12744
 Safeway                         11943
 Ralphs                          10468
                                 ...
 Best Way Supermarket                1
 Namaste India                       1
 La Guadalupana                      1
 ALLSUP'S                            1
 Pit Stop                            1
Name: banner_name, Length: 1269, dtype: int64
retailer_name
 Walmart                              24185
 Target                               22418
 Safeway                              21349
 Kroger                               17911
 Costco                               12744
                                      ...
 Scotts Valley Market                     1
 Oakland Market                           1
 New England Farms                        1
 mercado internacional                    1
 SUEOKA'S MARKET                          1
Name: retailer_name, Length: 1205, dtype: int64
channel_name
 Food                  95337
 Mass                  47503
 Club                  19258
 Drug                  15561
 Dollar                 9058
 Gas & Convenience      5668
 Military               1169
 Bodega                  534
 Toys                      1
Name: channel_name, dtype: int64
parent_channel_name
 FMCG                    194089
Name: parent_channel_name, dtype: int64

In [13]:
# Clean up text by stripping whitespace
# https://stackoverflow.com/questions/40950310/strip-trim-all-strings-of-a-dataframe
df_obj = df.select_dtypes(['object'])
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [14]:
# If a retailer doesn't have enough data points,
#  lump them in with other smaller retailers by channel
retailer_counts = df['retailer_name'].value_counts()
big_retailers = [r for r,n in retailer_counts.items() if n>10000] + ['Dollar General']
df['retailer big'] = df['retailer_name'].where(df['retailer_name'].isin(big_retailers),
                          df['channel_name'].apply(lambda x: 'Other ({})'.format(x)))

In [15]:
df.columns

Index(['user_id', 'basket_id', 'banner_name', 'retailer_name', 'channel_name',
       'parent_channel_name', 'user_geo_postal_code', 'user_geo_city',
       'user_geo_rural_code', 'user_geo_state', 'user_geo_census_region',
       'user_geo_census_division', 'store_geo_store_id',
       'store_geo_store_name', 'store_geo_latitude', 'store_geo_longitude',
       'store_geo_state', 'store_geo_city', 'payment_method', 'trip_type',
       'basket_total_dollars', 'basket_total_units', 'salestax', 'transcribed',
       'transcription_level', 'payment_id', 'last_update',
       'user_demo_ethnicity', 'user_demo_age', 'user_demo_education',
       'user_demo_employment', 'user_demo_gender',
       'user_demo_has_children_under17', 'user_demo_household_size',
       'user_demo_income', 'user_demo_marital_status', 'trip_rating',
       'kids_present_on_trip', 'adult_genders_on_trip',
       'other_banners_in_shopping_trip', 'other_retailers_in_shopping_trip',
       'were_there_other_stores_on_this_shopping_trip',
       'location_during_the_shopping_trip', 'transaction_dt',
       'transaction_dt_local', 'retailer big'],
      dtype='object')

In [16]:
# Does the data contain multiple records per trip? (trip = user x day)
df.groupby(['user_id','transaction_dt'])['basket_id'].count().value_counts()

1    119188
2     26022
3      5416
4      1083
5       243
6        48
7        10
8         6
9         1
Name: basket_id, dtype: int64

In [17]:
for v in df.columns:
    print(v, df[v].value_counts().count())

user_id 2699
basket_id 194064
banner_name 1268
retailer_name 1204
channel_name 9
parent_channel_name 1
user_geo_postal_code 1775
user_geo_city 1053
user_geo_rural_code 3
user_geo_state 51
user_geo_census_region 5
user_geo_census_division 10
store_geo_store_id 5694
store_geo_store_name 2242
store_geo_latitude 1
store_geo_longitude 1
store_geo_state 50
store_geo_city 859
payment_method 8
trip_type 4
basket_total_dollars 23721
basket_total_units 351
salestax 1
transcribed 2
transcription_level 2
payment_id 1
last_update 1
user_demo_ethnicity 6
user_demo_age 8
user_demo_education 7
user_demo_employment 1
user_demo_gender 3
user_demo_has_children_under17 3
user_demo_household_size 2
user_demo_income 8
user_demo_marital_status 8
trip_rating 1
kids_present_on_trip 3
adult_genders_on_trip 4
other_banners_in_shopping_trip 25971
other_retailers_in_shopping_trip 24083
were_there_other_stores_on_this_shopping_trip 2
location_during_the_shopping_trip 4
transaction_dt 348
transaction_dt_local 141760
retailer big 15

In [18]:
df['transaction_dt'] = pd.to_datetime(df['transaction_dt'])
df['day of the week'] = df['transaction_dt'].apply(lambda x: x.weekday())
df['is_weekend'] = 1*(df['day of the week'] > 4)

In [19]:
# df['matching city'] = 1*(df['user_geo_city'] == df['store_geo_city'])

In [20]:
# Consider predictors based on user profile
# Dropping vars with too many levels (city, zip code)
# Dropping information about trip
user_profile_vars = ['user_id','user_geo_rural_code', 'user_geo_census_region',
       'user_geo_census_division', 'user_demo_ethnicity', 'user_demo_age', 'user_demo_education',
       'user_demo_employment', 'user_demo_gender',
       'user_demo_income', 'user_demo_marital_status',]
trip_vars = ['transaction_dt','day of the week','is_weekend']

In [21]:
retailer_groups = df['retailer big'].unique()
df['retailer big'].value_counts(), df['retailer big'].value_counts().sum()

(Other (Food)                 56511
 Walmart                      24185
 Target                       22418
 Safeway                      21349
 Kroger                       17911
 Other (Drug)                 15559
 Costco                       12744
 Other (Dollar)                8250
 Other (Club)                  6514
 Other (Gas & Convenience)     5668
 Other (Military)              1169
 Dollar General                 808
 Other (Bodega)                 534
 Other (Mass)                   468
 Other (Toys)                     1
 Name: retailer big, dtype: int64,
 194089)

In [22]:
# Predicting retailer
retailer_OHE = pd.get_dummies(df['retailer big'])
df_ohe = pd.concat([df[user_profile_vars+trip_vars],retailer_OHE], axis=1)
# Group by user, day
# gf = df_ohe.groupby(['user_id','transaction_dt'])
gf = df_ohe.groupby(user_profile_vars+trip_vars, as_index=False).max()
X_vars = ['user_geo_rural_code', 'user_geo_census_region',
        'user_geo_census_division', 'user_demo_ethnicity', 'user_demo_age', 'user_demo_education',
        'user_demo_employment', 'user_demo_gender',
        'user_demo_income', 'user_demo_marital_status',
          'day of the week','is_weekend']
gf_ohe = pd.get_dummies(gf[X_vars], drop_first=True)

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
X_train, X_test = train_test_split(gf_ohe,random_state=0)
clfs = []
fis = []
reports = []
for ylabel in df['retailer big'].unique():
    print('Building RF classifier for ', ylabel)
    y_train, y_test = train_test_split(gf[ylabel],random_state=0)
    clf = RandomForestClassifier(max_depth=2, random_state=0, class_weight='balanced').fit(X_train, y_train)
    clfs.append(clf)
    fi = pd.Series(clf.feature_importances_, index=gf_ohe.columns)
    fis.append(fi)
    print('              precision    recall  f1-score   support')
    print(classification_report(y_test,clf.predict(X_test),labels=[1]).splitlines()[2])
    report = classification_report(y_test,clf.predict(X_test), output_dict=True)['1']
    reports.append(report)

# y_train, y_test = train_test_split(gf[retailer_groups],random_state=0)
# clf = RandomForestClassifier(max_depth=2, random_state=0, class_weight='balanced').fit(X_train, y_train)
# fi = pd.Series(clf.feature_importances_, index=gf_ohe.columns)
# clf.predict(X_test)

Building RF classifier for  Walmart
              precision    recall  f1-score   support
           1       0.18      0.63      0.28      5578
Building RF classifier for  Safeway
              precision    recall  f1-score   support
           1       0.15      0.63      0.24      4842
Building RF classifier for  Other (Drug)
              precision    recall  f1-score   support
           1       0.12      0.44      0.19      3437
Building RF classifier for  Other (Food)
              precision    recall  f1-score   support
           1       0.37      0.58      0.45     12646
Building RF classifier for  Costco
              precision    recall  f1-score   support
           1       0.10      0.71      0.18      2969
Building RF classifier for  Other (Mass)
              precision    recall  f1-score   support
           1       0.01      0.55      0.01       110
Building RF classifier for  Target
              precision    recall  f1-score   support
           1       0.15      0.63      0.25      5034
Building RF classifier for  Kroger
              precision    recall  f1-score   support
           1       0.13      0.56      0.22      3962
Building RF classifier for  Other (Club)
              precision    recall  f1-score   support
           1       0.05      0.64      0.09      1481
Building RF classifier for  Other (Dollar)
              precision    recall  f1-score   support
           1       0.07      0.54      0.13      1934
Building RF classifier for  Other (Gas & Convenience)
              precision    recall  f1-score   support
           1       0.05      0.64      0.09      1332
Building RF classifier for  Dollar General
              precision    recall  f1-score   support
           1       0.01      0.72      0.02       174
Building RF classifier for  Other (Military)
              precision    recall  f1-score   support
           1       0.03      0.49      0.05       275
Building RF classifier for  Other (Bodega)
              precision    recall  f1-score   support
           1       0.01      0.52      0.01       128
Building RF classifier for  Other (Toys)
              precision    recall  f1-score   support

/home/marc/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/marc/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

           1       0.00      0.00      0.00         0

In [24]:
sum(fis).sort_values(ascending=False)
fi_df = pd.DataFrame(fis, index=retailer_groups)
(fi_df > 0.05).sum().sort_values(ascending=False)

user_geo_census_division_Pacific                             7
user_demo_education_College graduate with a 4 year degree    7
user_demo_income_$125k +                                     7
user_demo_education_Some college or university               6
user_demo_marital_status_Never married                       6
user_demo_marital_status_Married                             6
user_demo_ethnicity_White or Caucasian                       6
user_demo_age_25-34                                          5
user_demo_ethnicity_Hispanic or Latino                       4
user_geo_rural_code_Urban                                    4
user_demo_income_- $20k                                      4
user_demo_education_High school graduate                     4
user_demo_income_$20k-40k                                    3
user_demo_gender_Male                                        3
user_demo_age_45-54                                          2
user_demo_age_65+                                            2
user_demo_gender_unknown                                     2
user_geo_census_region_West                                  2
user_demo_income_unknown                                     2
user_geo_rural_code_Suburban                                 2
user_demo_ethnicity_Other                                    2
user_geo_census_division_East North Central                  1
user_geo_census_division_Mountain                            1
user_geo_census_region_South                                 1
user_geo_census_region_Midwest                               1
user_geo_census_division_South Atlantic                      1
user_geo_census_division_West North Central                  1
user_demo_ethnicity_Black or African American                1
is_weekend                                                   1
user_demo_marital_status_unknown                             1
day of the week                                              1
user_demo_age_35-44                                          1
user_demo_marital_status_Separated                           1
user_demo_marital_status_Living with partner                 1
user_demo_education_College graduate with a 2 year degree    1
user_demo_income_$60k-80k                                    1
user_demo_age_21-24                                          1
user_demo_income_$40k-60k                                    1
user_demo_education_unknown                                  0
user_demo_marital_status_Divorced                            0
user_demo_income_$80k-100k                                   0
user_geo_census_region_Northeast                             0
user_demo_ethnicity_unknown                                  0
user_geo_census_division_East South Central                  0
user_demo_education_Less than high school                    0
user_geo_census_division_New England                         0
user_demo_age_unknown                                        0
user_demo_age_55-64                                          0
user_geo_census_division_West South Central                  0
user_demo_marital_status_Widower                             0
user_geo_census_division_Mid-Atlantic                        0
dtype: int64

In [25]:
hispanic_users = df['user_demo_ethnicity'] == 'Hispanic or Latino'
df['Walmart'] = df['retailer_name'] == 'Walmart'
walmart_freq = (df[hispanic_users]).groupby('user_id')['Walmart'].sum() / \
(df[hispanic_users]).groupby('user_id')['retailer_name'].count()
walmart_freq_shoppers = walmart_freq[walmart_freq > 0.05].index
walmart_freq_shoppers
x1=df[df['user_id'].isin(walmart_freq_shoppers)]['retailer_name'].value_counts(normalize=True)
x2=df[~df['user_id'].isin(walmart_freq_shoppers)]['retailer_name'].value_counts(normalize=True)
# & (df['retailer_name'] == 'Walmart')
print(x1[:10])
print(x2[:10])

Walmart          0.205044
Kroger           0.126306
Target           0.087881
Stater Bros.     0.059071
Costco           0.049347
Safeway          0.046372
99 Cents Only    0.038099
Winco Foods      0.034470
CVS              0.033055
Albertsons       0.030660
Name: retailer_name, dtype: float64
Safeway         0.120541
Target          0.120091
Walmart         0.111311
Kroger          0.086663
Costco          0.068369
Trader Joe's    0.046052
Albertsons      0.043350
Stater Bros.    0.037860
CVS             0.035650
Walgreens       0.030743
Name: retailer_name, dtype: float64

In [26]:
x1 = x1[x2.index].fillna(0)
x2 = x2[x1.index].fillna(0)
(x1-x2).sort_values(ascending=False)[:5],(x1-x2).sort_values(ascending=True)[:5]

(Walmart          0.093733
 Kroger           0.039643
 Stater Bros.     0.021211
 99 Cents Only    0.018562
 Dollar Tree      0.010619
 Name: retailer_name, dtype: float64,
 Safeway        -0.074170
 Trader Joe's   -0.034804
 Target         -0.032210
 Costco         -0.019023
 Albertsons     -0.012689
 Name: retailer_name, dtype: float64)

In [27]:
# df['basket_total_dollars_binned'] = df['basket_total_dollars'].qcut()
df['basket_total_dollars_binned'] = pd.qcut(df['basket_total_dollars'],10)

In [28]:
df['basket_total_units']

0         10
1          3
2          3
3          3
4          9
          ..
194084     2
194085    13
194086     5
194087     2
194088    18
Name: basket_total_units, Length: 194089, dtype: int64

In [29]:
df['Dollar General'] = df['retailer_name'] == 'Dollar General'
dollargeneral = df.groupby('user_id')['Dollar General'].sum()
dollargeneral_shoppers = dollargeneral[dollargeneral > 0.05].index
dollargeneral_shoppers
check_columns = ['retailer_name', 'channel_name', 'user_geo_city',
       'user_geo_rural_code', 'user_geo_state', 'user_geo_census_region',
       'user_geo_census_division', 'payment_method', 'trip_type',
       'basket_total_dollars_binned', 'transcribed',
       'transcription_level', 'payment_id', 'last_update',
       'user_demo_ethnicity', 'user_demo_age', 'user_demo_education',
       'user_demo_employment', 'user_demo_gender',
       'user_demo_has_children_under17', 'user_demo_household_size',
       'user_demo_income', 'user_demo_marital_status', 'trip_rating',
       'kids_present_on_trip', 'adult_genders_on_trip',
       'other_banners_in_shopping_trip', 'other_retailers_in_shopping_trip',
       'were_there_other_stores_on_this_shopping_trip',
       'location_during_the_shopping_trip', 'day of the week', 'is_weekend',]
for v in check_columns:
    x1 = df[df['user_id'].isin(dollargeneral_shoppers)][v].value_counts(normalize=True)
    x2 = df[~df['user_id'].isin(dollargeneral_shoppers)][v].value_counts(normalize=True)
    x1 = x1[x2.index].fillna(0)
    x2 = x2[x1.index].fillna(0)
    print((x1-x2).sort_values(ascending=False)[:2])
    print((x1-x2).sort_values(ascending=True)[:2])

Walmart        0.074854
Winco Foods    0.015619
Name: retailer_name, dtype: float64
Safeway   -0.046055
Target    -0.041876
Name: retailer_name, dtype: float64
Dollar    0.08777
Mass      0.03536
Name: channel_name, dtype: float64
Food   -0.114322
Club   -0.030252
Name: channel_name, dtype: float64
Bakersfield    0.076598
Perris         0.049953
Name: user_geo_city, dtype: float64
Los Angeles   -0.029771
San Jose      -0.027479
Name: user_geo_city, dtype: float64
Rural       0.167824
Suburban    0.135428
Name: user_geo_rural_code, dtype: float64
Urban      -0.303252
Suburban    0.135428
Name: user_geo_rural_code, dtype: float64
NV    0.017462
SC    0.014793
Name: user_geo_state, dtype: float64
CA   -0.063814
WA   -0.001586
Name: user_geo_state, dtype: float64
South      0.043822
Midwest    0.001130
Name: user_geo_census_region, dtype: float64
West        -0.044397
Northeast   -0.000505
Name: user_geo_census_region, dtype: float64
South Atlantic    0.030033
Mountain          0.023388
Name: user_geo_census_division, dtype: float64
Pacific              -0.067786
East North Central   -0.000793
Name: user_geo_census_division, dtype: float64
CASH          0.063088
FOOD STAMP    0.027072
Name: payment_method, dtype: float64
CREDIT    -0.086984
unknown   -0.021653
Name: payment_method, dtype: float64
Urgent Need (1-2 Items)        0.007455
Pantry Stocking (21+ Items)    0.000759
Name: trip_type, dtype: float64
Fill Up (11-20 Items)       -0.007364
Express Lane (3-10 Items)   -0.000851
Name: trip_type, dtype: float64
(5.63, 10.47]     0.018434
(10.47, 15.97]    0.013639
Name: basket_total_dollars_binned, dtype: float64
(124.962, 3079.92]   -0.020436
(80.57, 124.962]     -0.019631
Name: basket_total_dollars_binned, dtype: float64
t    0.004962
f   -0.004962
Name: transcribed, dtype: float64
f   -0.004962
t    0.004962
Name: transcribed, dtype: float64
2    0.004962
1   -0.004962
Name: transcription_level, dtype: float64
1   -0.004962
2    0.004962
Name: transcription_level, dtype: float64
    0.0
Name: payment_id, dtype: float64
    0.0
Name: payment_id, dtype: float64
TBD    0.0
Name: last_update, dtype: float64
TBD    0.0
Name: last_update, dtype: float64
Hispanic or Latino    0.085051
White or Caucasian    0.070355
Name: user_demo_ethnicity, dtype: float64
Asian     -0.123245
unknown   -0.028048
Name: user_demo_ethnicity, dtype: float64
25-34    0.080651
21-24    0.005710
Name: user_demo_age, dtype: float64
unknown   -0.029769
35-44     -0.026894
Name: user_demo_age, dtype: float64
Some college or university               0.122527
College graduate with a 2 year degree    0.077935
Name: user_demo_education, dtype: float64
College graduate with a 4 year degree   -0.094193
Advanced degree                         -0.081050
Name: user_demo_education, dtype: float64
unknown    0.0
Name: user_demo_employment, dtype: float64
unknown    0.0
Name: user_demo_employment, dtype: float64
Female     0.099065
unknown   -0.028048
Name: user_demo_gender, dtype: float64
Male      -0.071017
unknown   -0.028048
Name: user_demo_gender, dtype: float64
Yes    0.054909
No    -0.026861
Name: user_demo_has_children_under17, dtype: float64
unknown   -0.028048
No        -0.026861
Name: user_demo_has_children_under17, dtype: float64
7+         0.178893
unknown   -0.178893
Name: user_demo_household_size, dtype: float64
unknown   -0.178893
7+         0.178893
Name: user_demo_household_size, dtype: float64
$40k-60k    0.094232
$20k-40k    0.074775
Name: user_demo_income, dtype: float64
unknown   -0.134361
$125k +   -0.086892
Name: user_demo_income, dtype: float64
Married                0.019809
Living with partner    0.016415
Name: user_demo_marital_status, dtype: float64
Never married   -0.041643
unknown         -0.028048
Name: user_demo_marital_status, dtype: float64
    0.0
Name: trip_rating, dtype: float64
    0.0
Name: trip_rating, dtype: float64
Kids Present    0.033058
No Kids         0.014829
Name: kids_present_on_trip, dtype: float64
          -0.047887
No Kids    0.014829
Name: kids_present_on_trip, dtype: float64
Female Adult Only                0.070531
Male and Female Adult on trip    0.023165
Name: adult_genders_on_trip, dtype: float64
Male Adult Only   -0.047089
                  -0.046608
Name: adult_genders_on_trip, dtype: float64
Walmart       0.024823
Commissary    0.006347
Name: other_banners_in_shopping_trip, dtype: float64
Target   -0.027218
Ralphs   -0.024158
Name: other_banners_in_shopping_trip, dtype: float64
Walmart             0.024477
Walmart, Walmart    0.006599
Name: other_retailers_in_shopping_trip, dtype: float64
Safeway   -0.031733
Target    -0.027330
Name: other_retailers_in_shopping_trip, dtype: float64
Multi-stop     0.071313
Single-stop   -0.071313
Name: were_there_other_stores_on_this_shopping_trip, dtype: float64
Single-stop   -0.071313
Multi-stop     0.071313
Name: were_there_other_stores_on_this_shopping_trip, dtype: float64
Middle Stop    0.031686
Last Stop      0.024323
Name: location_during_the_shopping_trip, dtype: float64
Only Stop    -0.071297
First Stop    0.015288
Name: location_during_the_shopping_trip, dtype: float64
4.0    0.011909
3.0    0.004046
1.0    0.003997
2.0    0.000530
Name: day of the week, dtype: float64
6.0   -0.015271
0.0   -0.003203
5.0   -0.002007
2.0    0.000530
Name: day of the week, dtype: float64
0    0.016276
1   -0.016276
Name: is_weekend, dtype: float64
1   -0.016276
0    0.016276
Name: is_weekend, dtype: float64

In [30]:
check_columns = ['other_banners_in_shopping_trip', 'other_retailers_in_shopping_trip',
       'were_there_other_stores_on_this_shopping_trip',
       'location_during_the_shopping_trip', 'day of the week', 'is_weekend',]
for v in check_columns:
    x1 = df[df['retailer_name'] == 'Safeway'][v].value_counts(normalize=True)
    x2 = df[df['retailer_name'] != 'Safeway'][v].value_counts(normalize=True)
    x1 = x1[x2.index].fillna(0)
    x2 = x2[x1.index].fillna(0)
    print((x1-x2).sort_values(ascending=False)[:4])
    print((x1-x2).sort_values(ascending=True)[:4])

Target, Safeway    0.009613
Target, Vons       0.007557
Costco, Safeway    0.006498
Safeway, Target    0.006366
Name: other_banners_in_shopping_trip, dtype: float64
Target    -0.061507
Walmart   -0.060760
Costco    -0.033006
Ralphs    -0.030319
Name: other_banners_in_shopping_trip, dtype: float64
Target, Safeway     0.018512
Costco, Safeway     0.011312
Safeway, Target     0.011250
Walmart, Safeway    0.010902
Name: other_retailers_in_shopping_trip, dtype: float64
Walmart   -0.064449
Target    -0.061623
Kroger    -0.048493
Costco    -0.033006
Name: other_retailers_in_shopping_trip, dtype: float64
Single-stop    0.05932
Multi-stop    -0.05932
Name: were_there_other_stores_on_this_shopping_trip, dtype: float64
Multi-stop    -0.05932
Single-stop    0.05932
Name: were_there_other_stores_on_this_shopping_trip, dtype: float64
Only Stop      0.059285
Last Stop      0.007159
Middle Stop   -0.025259
First Stop    -0.041185
Name: location_during_the_shopping_trip, dtype: float64
First Stop    -0.041185
Middle Stop   -0.025259
Last Stop      0.007159
Only Stop      0.059285
Name: location_during_the_shopping_trip, dtype: float64
4.0    0.028647
Name: day of the week, dtype: float64
2.0   -0.008341
5.0   -0.006543
0.0   -0.006530
3.0   -0.004598
1.0   -0.001617
6.0   -0.001018
4.0    0.028647
Name: day of the week, dtype: float64
0    0.006549
1   -0.006549
Name: is_weekend, dtype: float64
1   -0.006549
0    0.006549
Name: is_weekend, dtype: float64

In [49]:
# Clustering, see where Safeway looks most similar
from sklearn.cluster import KMeans
X = pd.get_dummies(df[['channel_name','user_geo_rural_code', 'user_geo_state', 'user_geo_census_region',
       'user_geo_census_division', 'payment_method',
       'basket_total_dollars_binned', 
       'user_demo_ethnicity', 'user_demo_age', 'user_demo_education', 'user_demo_gender',
       'user_demo_income', 'user_demo_marital_status',
       'kids_present_on_trip', 'adult_genders_on_trip',
       'were_there_other_stores_on_this_shopping_trip','is_weekend']],drop_first=True)
kmeans = KMeans(n_clusters=15, random_state=0).fit(X)

In [50]:
import numpy as np
np.unique(kmeans.predict(X[df['retailer_name'] == 'Safeway']), return_counts=True)

(array([ 0,  1,  2,  3,  4,  5,  7,  8,  9, 10, 11, 12, 13, 14],
       dtype=int32),
 array([3625, 2087, 1653, 1261, 2144, 1534, 1594,  991,  906,  675,  796,
         605, 1498, 1980]))

In [53]:
df[(kmeans.predict(X) == 0)]['retailer_name'].value_counts()
# df[(kmeans.predict(X) == 0) | (kmeans.predict(X) == 1) | (kmeans.predict(X) == 4)]['retailer_name'].value_counts()

Safeway                         3625
Kroger                          2718
Trader Joe's                    1671
Albertsons                      1498
Stater Bros.                     955
                                ...
The Fresh Market                   1
4 Way Market                       1
evergreen farm market              1
Northfork Super Market             1
Morton Williams Supermarkets       1
Name: retailer_name, Length: 308, dtype: int64